* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
} /* 1rem = 10px */

body {
  font-family: var(--font-family);
  font-size: 1.6rem; /* 16px */
  background-color: var(--gray-900);
  color: var(--text-default);
}
